html {
background: url('img/hero2.png') center center fixed;
background-repeat: no-repeat;
background-size: cover;
// overflow: scroll;
-webkit-overflow-scrolling: touch;
// overflow: hidden;
min-width: 100%;
min-height: 100%;
}

@media (max-width: 1024px) {
html {
background: url('img/hero2.png') center center fixed;
background-repeat: repeat;
// background-size: cover;
// overflow: scroll;
-webkit-overflow-scrolling: touch;
// overflow: hidden;
min-width: 100%;
min-height: 100%;
}
}

@media (max-width: 768px) {
html {
background: url('img/hero2.png') center center fixed;
background-repeat: repeat;
// background-size: cover;
// overflow: scroll;
-webkit-overflow-scrolling: touch;
// overflow: hidden;
min-width: 100%;
min-height: 100%;
}
}

.scroll-indicator {
    a:link,
    a:visited {
		color: #FFF;
	}
}

a:link,
a:visited {
	color: #999;
}

a:hover,
a:active {
	color: #666;
}