.container hero {
	margin: 0 auto;
	width: 70%;
	max-width: 900px;
}

.hero {
	position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  text-align: center;

  h1 {
    margin: 2% 0;
    font-weight: 300;
    color: #FFF;
    font-size: 4em;
  }

  h2 {
    margin: 0;
    font-weight: 300;
    line-height: 1.4em;
    color: #FFF;
    font-size: 1.86em;
  }
}

.line {
	color: red;
	width: 30%;
	height: 5px;
	padding: 25px;
}

.action {
	margin-top: 5%;
	background: #FF4373;
	color: #FFF;
	border: 2px solid #FF4373;
	border-radius: 5px;
	padding: 12px 18px;
	transition: 0.2s ease-in-out;
} a:link, a:visited {
  color: #FFF;
 }

 .action:hover,
 .action:visited {
 	color: #FFF;
 	border: 2px solid #FFF;
 }

// SCROLL INDICATOR

.scroll-indicator {
  	animation-name: floating;
  -webkit-animation-name: floating;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.vertical-centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {
  background: #EEE;
  height: 400px;
  padding: 50px;
  z-index: 999;
}

.overview {
	display: inline-block;
	width: 55%;
	margin: 1%;
	vertical-align: top;
}

.overview-img {
	display: inline-block;
	width: 35%;
	margin: 1.5%;
} .circle {
	// border-radius: 50%;
	border: 10px solid #FFF;
}

.portfolio {
  background: #FFF;
  padding: 50px;
  h2 {
  	color: #43B6CD;
  	text-align: center;
  }
  .portfolio-left {
  	float: left;
  	width: 45%;
  	height: 400px;
  	margin-right: 1%;
  }
  .portfolio-right {
  	float: right;
  	display: inline-block;
  	width: 50%;
  	height: 400px;
  	margin-left: 1%;
  }
h2 {
  color: #43B6CD;
 }
}

.skills {
	background-color: transparent;
	color: #FFF;
	padding: 50px;
	text-align: center;
}

.skills-list {
	display: inline-block;
	width: 24.5%;
	vertical-align: top;
	text-align: center;
	p {
		color: #666;
		font-size: 0.9em;
		line-height: 1.5em;
	}
h2 {
	color: #666;
 }
}

.reading {
	clear: both;
	background: #EEE;
	width: 100%;
	padding: 50px;
}

.contact {
	background: #FFF;
	padding: 50px;
	p {
		font-size: 0.9em;
		text-align: left;
	}
	h1 {
		text-align: center;
	}
	h2 {
		color: #FF4373;
		text-align: left;
	}
}

.contact-left {
	float: left;
	width: 50%;
}

.contact-right {
	float: right;
	width: 50%;
}

footer p {
		color: #FFF;
		font-weight: 300;
}