// .body {
// 	position: fixed;
// }

.container hero {
	margin: 0 auto;
	width: 70%;
	max-width: 900px;
}

.hero {
  background: #00C6C6;
  // background:url('images/hero.jpg');
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 0 100px;
  text-align: center;

  h1 {
    margin: 2% 0;
    font-weight: 300;
    color: #FFF;
    font-size: 4em;
  }

  h2 {
    margin: 0;
    font-weight: 300;
    line-height: 1.4em;
    color: #FFF;
    font-size: 1.86em;
  }
}

.action {
	margin-top: 5%;
	background: #E22962;
	border: 1.5px solid #E22962;
	border-radius: 5px;
	padding: 12px 18px;
	transition: 0.2s ease-in-out;
} a:link, a:visited {
  color: #FFF;
 }

 .action:hover,
 .action:visited {
 	border: 1.5px solid #FFF;
 }


.vertical-centering {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about {
  background: #EEE;
  height: 400px;
  padding: 50px;
  z-index: 999;
}

.overview {
	float: left;
	width: 55%;
	margin: 1%;
}

.overview-img {
	float: left;
	width: 35%;
	margin: 1.5%;
} .circle {
	border-radius: 50%;
}

.portfolio {
  background: #EEE;
  padding: 50px;
h2 {
  color: #FF6699;
 }
}