header {
	position: relative;
  // position: fixed;
	background: #FFF;
	box-shadow: 0 3px 1px #EEE;
	width: 100%;
	height: 60px;
	z-index: 999;
}

#menu-header-menu {
	padding-right: 5px;
	position: absolute;
	top: 0;
	right: 0;
	li a {
		width: 90px;
		padding-top: 17px;
    background: none;
    color: #999;
    font-size: 16px;
	  height: 60px;
	  text-align: center;
	  transition: 0.5s;
	  overflow: hidden;
    -webkit-transition: all linear 200ms;
    -moz-transition: all linear 200ms;
    -o-transition: all linear 200ms;
    transition: all linear 200ms;
    position: relative;
    font-weight: 400;
	  &:hover {
	  	// background: #FFF;
	  	color: #666;
	  	// &:after {
	  	// 	top:0;
	  	// }
	  }
	  // &:after {
	  // 	-webkit-transition: all linear 200ms;
   //    -moz-transition: all linear 200ms;
   //    -o-transition: all linear 200ms;
   //    transition: all linear 200ms;
			// content : '';
			// display: block;
			// background: #43B6CD;
			// position: absolute;
			// width: 100px;
			// top: 100%;
			// bottom: 0;
			// right: 0;
			// left: 0;
			// z-index: -1;
	  // }
	}
}

ul.menu {
	  float: right;
    margin: 0;
    padding: 0;
  }
    ul.menu li {
      display: inline;
      padding: 0 10px;
    }

      ul.menu li a:link,
      ul.menu li a:visited {
        color: #FFF;
        padding: 10px;
      }

.logo {
	padding-top: 20px;
	padding-left: 45px;
	img {
		width: 150px;
		height: 22px;
	}
}

.logo a {
	float: left;
	font-size: 18px;
 }

.social {
	float: right;
	position: absolute;
	top: 17.5px;
  right: 15%;
 .fa {
 	padding: 0 5px;
 	color: #AAA;
 	font-size: 1.5em;
 }
}

@media (max-width: 768px) {
	header {
		z-index: 999;
		.container {
			width: 92%;
	  }
	  #menu-header-menu {
	  	right: -85px;
	  li a {
		  width: 80px;
		  padding-top: 17px;
      background: none;
      color: #999;
      font-size: 16px;
	    height: 60px;
	    text-align: center;
	    transition: 0.5s;
	    overflow: hidden;
      -webkit-transition: all linear 200ms;
      -moz-transition: all linear 200ms;
      -o-transition: all linear 200ms;
      transition: all linear 200ms;
      position: relative;
      font-weight: 400;
      &:active {
      	color: #666;
      }
  	}
  }
}
}