body, p, h1, h2, h3, h4, h5, h6 {
	color: #888;
	line-height: 1.7em;
	font-family: 'Roboto', 'Sans-serif';
	font-weight: 300;
}

p {
	font-size: 1em;
	line-height: 1.5em;
}

a:link, a:visited {
		color: #FFF;
	}